<header class="site-header container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <a href="home.html"><img src="../IMG/logo3.png" alt="Logotipo de Make.u"></a>
    </div>
    <div class="header-nav d-flex align-items-center">
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Secciones
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="rostro.html">Rostro</a>
                <a class="dropdown-item" href="labios.html">Labios</a>
                <a class="dropdown-item" href="ojos.html">Ojos</a>
                <a class="dropdown-item" href="cejas.html">Cejas</a>
            </div>
        </div>

        <div class="dropdown-expanded">
            <a class="dropdown-item" href="rostro.html">Rostro</a>
            <a class="dropdown-item" href="labios.html">Labios</a>
            <a class="dropdown-item" href="ojos.html">Ojos</a>
            <a class="dropdown-item" href="cejas.html">Cejas</a>
        </div>

        <div class="header-right ml-auto">
            <a href="forme.html">for.me</a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="register.html"><i class="fa fa-sign-in-alt"></i></a>
        </div>
    </div>

    
</header>