<header class="container-fuid">
    <div class="row m-0">
        <div class="col-12 col-md-3 col-lg-2 d-flex pl-5 justify-content-center">
            <a href="/"><img src="/img/logo3.png" alt="Logotipo de Make.u" /></a>
        </div>
        <div class="col-md-6 col-lg-5 d-flex justify-content-center d-flex align-items-center pd-section-nav">
            <nav id="nav-section d-flex align-items-center">
                <div class="section-display" id="marker"></div>
                <a class="section-display m-2" id="a-section" href="/rostro">Rostro</a>
                <a class="section-display m-2" id="a-section" href="/labios">Labios</a>
                <a class="section-display m-2" id="a-section" href="/ojos">Ojos</a>
                <a class="section-display m-2" id="a-section" href="/cejas">Cejas</a>
                <div class="dropdown section-display">
                    <button class="btn dropdown-toggle button-style-user brand-btn" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Marcas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% for (let brand of brandsHeader) { %>
                        <a class="dropdown-pink dropdown-item" href="/brands/<%= brand.id %>"> <%= brand.name %> </a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-pink dropdown-item item-ver-todos-brand" href="/brands">Ver todas</a>
                    </div>
                </div>
            </nav>
        </div>

        <% if(typeof user != 'undefined') { %>
        <div class="col-12 col-md-3 col-lg-2 d-flex justify-content-center d-flex align-items-center pd-user-nav">
            <div class="dropdown inline-user">
                <button class="btn dropdown-toggle button-style-user" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.firstName %> <svg width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-emoji-smile-upside-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z" />
                        <path fill-rule="evenodd"
                            d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z" />
                        <path
                            d="M7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z" />
                    </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% if (user.roleId == 2 || user.roleId == 3) { %>
                    <a class="dropdown-pink dropdown-item" href="/products/create">Agregar Producto</a>
                    <a class="dropdown-pink dropdown-item" href="/users/myProducts">Mis Productos</a>
                    <% } %>
                    <a class="dropdown-pink dropdown-item" href="/users/admin">Mis Datos</a>
                    <div class="dropdown-divider"></div>
                    <form action="/users/logout" method="GET">
                        <button class="btn dropdown-item dropdown-pink" type="submit">
                            Cerrar Sesión
                        </button>
                    </form>

                </div>
            </div>
            <a class="item-space" href="/productCart"><i class="fa fa-shopping-cart cart-size"></i></a>
        </div>
        <% } else if (typeof user == 'undefined') { %>
        <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center justify-content-center">
            <a class="item-space" href="/users/register"><i class="fa fa-user user-login"></i></a>
            <a class="item-space" href="/productCart"><i class="fa fa-shopping-cart cart-size"></i></a>
        </div>
        <% } %>


        <div
            class="col-12 col-sm-12 col-md-12 col-lg-3 d-flex justify-content-center d-flex align-items-center pd-left pad10">
            <form action="/search" method="POST" class="input-group">
                <div class="input-group-prepend">
                    <button class="input-group-text btn btn-pink btn-block " id="basic-text1"><i
                            class="fas fa-search text-white" aria-hidden="true"></i></button>
                </div>
                <input id="search" name="search" class="search form-control my-0 py-1" type="text" placeholder="Buscar"
                    aria-label="Search">
            </form>
        </div>





    </div>
    </div>
    <!-- Submenu de seccion -->
    <div class="container-fluid sub-menu-header">
        <div class="row">
            <div class="col-3 d-flex justify-content-center">
                <a href="/rostro">
                    <button type="button" class="btn btn-link" title="Rostro">
                        <img class="img-icon" src="/img/rostro-icon.png" alt="" />
                    </button>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="/labios">
                    <button type="button" class="btn btn-link" title="Labios">
                        <img class="img-icon" src="/img/labios-icon.png" alt="" />
                    </button>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="/ojos">
                    <button type="button" class="btn btn-link" title="Ojos">
                        <img class="img-icon" src="/img/ojos-icon.png" alt="" />
                    </button>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="/cejas">
                    <button type="button" class="btn btn-link" title="Cejas">
                        <img class="img-icon" src="/img/cejas-icon.png" alt="" />
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- /Submenu de seccion -->

</header>