<header class="site-header container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <a href="/"><img src="/img/logo3.png" alt="Logotipo de Make.u" /></a>
    </div>
    <div class="header-nav d-flex align-items-center">
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Secciones
      </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item btn-pink" href="/rostro">Rostro</a>
                <a class="dropdown-item btn-pink" href="/labios">Labios</a>
                <a class="dropdown-item btn-pink" href="/ojos">Ojos</a>
                <a class="dropdown-item btn-pink" href="/cejas">Cejas</a>
            </div>
        </div>

        <div class="dropdown-expanded">
            <a class="dropdown-item btn-pink" href="/rostro">Rostro</a>
            <a class="dropdown-item btn-pink" href="/labios">Labios</a>
            <a class="dropdown-item btn-pink" href="/ojos">Ojos</a>
            <a class="dropdown-item btn-pink" href="/cejas">Cejas</a>
        </div>

        <div class="header-right ml-auto">
            <a class="item-space" href="#">for.me</a>
            <a class="item-space" href="/cart"><i class="fa fa-shopping-cart"></i></a>
            <a class="item-space" href="#"><i class="fa fa-heart"></i></a>
            <% if(typeof user != 'undefined') { %>
                <form action="/users/logout" method="GET">
                    <button class="btn btn-pink btn-block" type="submit">
                         Cerrar Sesión
                    </button>
                </form>
                <% } else { %>
                    <a class="item-space" href="/users/register"><i class="fa fa-user"></i></a>
                    <% } %>
        </div>
    </div>
    <% if(typeof user != 'undefined') { %>
        <div>
            Bienvenido
            <%= user.name %>
        </div>
        <% } %>
</header>