<!-- Pre-Footer -->
<div class="container-fluid">
  <div class="row d-flex justify-content-around p-info">
    <div class="col-12 col-sm-3 padding-info info-align">
      <i class="fa fa-money-check icon"></i>
      <h3 class="info-h3">Pagá con tarjeta y en cuotas!</h3>
      <p class="info-p">
        Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="col-12 col-sm-3 padding-info info-align">
      <i class="fa fa-shipping-fast icon"></i>
      <h3 class="info-h3">Envío gratis desde $ 2.500</h3>
      <p class="info-p">
        Al registrarte en Make.U tenés envíos gratis en muchos productos. Y
        tambien al superar los $ 2.500 el envio es totalmente gratis.
      </p>
    </div>
    <div class="col-12 col-sm-3 padding-info info-align">
      <i class="fa fa-shield-alt icon"></i>
      <h3 class="info-h3">Seguridad, de principio a fin</h3>
      <p class="info-p">
        Tus visita al sitio, y tus compras estan protegidas bajo el certificado
        SSL.
      </p>
    </div>
  </div>
</div>
<!-- /Pre-Footer -->