<div class="container-fluid user-navbar">
    <div class="d-flex">
        <nav class="nav">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= user.firstName %> 
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item btn-pink" href="/products/create">Agregar Producto</a>
                    <a class="dropdown-item btn-pink" href="/users/myProducts">Mis Productos</a>
                    <a class="dropdown-item btn-pink" href="/users/admin">Mis Datos</a>

                </div>
            </div>

            <div class="dropdown-expanded">
                <a class="dropdown-item btn-pink" href="/products/create">Agregar Producto</a>
                <a class="dropdown-item btn-pink" href="/users/myProducts">Mis Productos</a>
                <a class="dropdown-item btn-pink" href="/users/admin">Mis Datos</a>
            </div>
            <div class="ml-auto">
                <form action="/users/logout" method="GET">
                    <button class="btn btn-pink btn-block" type="submit">
                        Cerrar Sesión
                    </button>
                </form>
            </div>

        </nav>
    </div>
</div>