<div class="container">
    <div class="row">
        <div class="col-12 margin-menu">
            <nav class="nav">
                <a href="/users/admin"><button type="button" class="btn btn-pink btn-sm mg-btn">
                        Inicio
                    </button></a>
                <a href="/products/create"><button type="button" class="btn btn-pink btn-sm mg-btn">
                        Agregar producto
                    </button></a>
                <a href="/users/myProducts"><button type="button" class="btn btn-pink btn-sm mg-btn">
                        Mis Productos
                    </button></a>
            </nav>
        </div>
    </div>
</div>