body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* La idea es poner todo el CSS de la barra principal en style.css
ya que se repite en todas la paginas */

.navegacion1 {
  display: block;
  height: 71px;
  background-color: #F2D7DE;
  opacity: 0.5;
}

#logo {
  height: 20px;
  width: 70px;
}

ul li {
  text-align: center;
}

.navegacion1 ul {
  display: inline-block;
}

.navegacion1 ul li {
  display: inline-block;
}

#nav-right {
  float: right;
  margin:10px;
}