* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

#banner {
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-banner {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#title-banner {
    position: absolute;
    font-size: 300%;
    color: white;
    line-height: 100px;
    background-color: coral;
    width: 40%;
    opacity: 0.6;
    text-align: right;
}

.title-main {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.section-odd {
    display: flex;
    flex-direction: row;
    height: 66vh;
    background-color:rgb(241, 216, 220);
}

.product-container-odd {
    display: flex;
    flex-direction: column;
    width: 67%;
}

.title-section {
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

.article-odd {
    width: 20%;
    height: 35vh;
}

.img-product {
    width: 100%;
}

.product-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 8%;
}

.price {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 8%;
}

.ver-mas {
    font-size: 120%;
    text-decoration: underline;
    text-align: center;
    width: 8%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.img-right {
    width: 90%;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
}

.section-pair {
    display: flex;
    flex-direction: row;
    height: 63vh;
    background-color: whitesmoke;
}

.container-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.img-left {
    width: 90%;
    border-right: 10px solid rgb(241, 216, 220);
    border-bottom: 10px solid rgb(241, 216, 220);
}

.product-container-pair {
    display: flex;
    flex-direction: column;
    width: 67%;
    background-color: whitesmoke;
}

.article-pair {
    width: 20%;
    height: 35vh;
}

.title-section {
    font-size: 140%;
    text-align: center;
}


@media (max-width: 767px) {
    .ver-mas {
        display: none;
    }

    .container-left {
        display: none;
    }

    .container-right {
        display: none;
    }

    .product-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100vh;
    }

    #banner {
       display: none;
    }

}


