.banner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.banner-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.title-banner {
    position: absolute;
    color: white;
    background-color: coral;
    width: 60%;
    opacity: 0.6;
}

.title {
    font-size: 300%;
    line-height: 70px;
    text-align: right;
}

.title-main {
    display: block;
}

.backgroung-odd {
    background-color: #e8b4b4;
}

.flex-title{

}

.title-section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 0;
}

.ver-todos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 100%;
    margin-bottom: 0;
}

.product-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    color: white;
}

.price {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 3%;
    color: white;
}

.backgroung-pair {
    background-color: #d7d7d7;

}