/*header*/
.mobile-header{
    display: none;
}

.site-header {
    background-color: #f2d7de;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  
  .site-header a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 120%;
    line-height: 25px;
    align-items: center;
    justify-items: center;
  }
  
  .site-header nav{
      display: flex;
      align-items: center;
      flex-direction: row;
  }
  
  .logo{
   width: 25%
  }
  
  .logo img{
  width: 100%;
  }
  
  .site-header-sections{
  margin-right: auto;
  }
  
  .site-header-right{
  justify-items: right;
  margin-left: auto;
  margin-right: 2%
  }
