button {
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border: solid 1px black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.productCard {
    padding: 5px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    width: 35%;
    height: 600px;
    border: solid 1px black;
    box-sizing: border-box;
}

.productCard p {
    text-align: center;
}

.imgMain {
    width: 90%;
}

.productName {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.productImgList {
    float: left;
}

.productImgList img {
    width: 125px;
    margin-left: 10 px;
}

.productImgList ul {
    list-style-type: none;
}

.tryItOn :hover {
    font-weight: bold;
}

.productDetails {
    padding: 5px;
    width: 35%;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    width: 400px;
    border: solid 1px black;
}

.productDetails ul {
    display: inline;
}

.productDetails ul li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}