/* color placeholder, podría ser un rosa más oscuro como en el wireframe o un gris oscuro */
main {
  padding: 20px
}

.uwu {
  background-color: #dc92a5;
}

.nav {
  background-color: #f2d7de;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.productCard {
  border: solid 1px black;
}
.productCard p {
  text-align: center;
}

.imgMain {
  width: 90%;
  height: 70%;
  object-fit: contain;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  background-color: #f2d7de;
  border-color: black;
  color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, {
  background-color: #dc92a5;
}
