<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/index.css" />

    <title>Make.u</title>
  </head>

  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->

    <main>
      <!-- Banner principal -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 banner">
            <div>
              <img class="banner-img" src="/img/fondoHome2.jpg" alt="" />
            </div>
            <div class="title-banner">
              <h1 class="title">
                <span class="title-main">Beauty</span>
                <span class="title-main">Style</span>
                <span class="title-main">& Tips</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- /Banner Principal -->

      <!-- Submenu de seccion -->
      <div class="container">
        <div class="row">
          <div class="col-3 d-flex justify-content-center">
            <a href="#">
              <button type="button" class="btn btn-link" title="Rostro">
                <img class="img-icon" src="/img/rostro-icon.png" alt="" />
              </button>
            </a>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <a href="#">
              <button type="button" class="btn btn-link" title="Labios">
                <img class="img-icon" src="/img/labios-icon.png" alt="" />
              </button>
            </a>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <a href="#">
              <button type="button" class="btn btn-link" title="Ojos">
                <img class="img-icon" src="/img/ojos-icon.png" alt="" />
              </button>
            </a>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <a href="#">
              <button type="button" class="btn btn-link" title="Cejas">
                <img class="img-icon" src="/img/cejas-icon.png" alt="" />
              </button>
            </a>
          </div>
        </div>
      </div>
      <!-- /Submenu de seccion -->

      <!-- Container impar -->
      <div class="container-fluid section-odd">
        <!-- Titulo container -->
        <div class="row">
          <div class="col-12 padding-category">
            <h2 class="category">Destacados</h2>
            <a href="#" class="btn-todos">
              <p class="ver-todos">Ver todos</p>
            </a>
          </div>
        </div>
        <!-- /Titulo container -->

        <!-- Card´s -->
        <div class="row margin-row">
          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro1.webp"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
                <!-- para una instancia mas avanzada, agregar este icono -->
                <!-- <div class="position-icon">
                  <span>
                    <i class="fas fa-award award-icon"></i>
                  </span>
                </div> -->
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoLabios1.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoOjos1.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro2.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>
        </div>
      </div>
      <!-- /Container impar -->

      <!-- Container even -->
      <div class="container-fluid section-even">
        <!-- Titulo container -->
        <div class="row">
          <div class="col-12 padding-category">
            <h2 class="category-even">Lanzamiento</h2>
            <a href="#" class="btn-todos">
              <p class="ver-todos-even">Ver todos</p>
            </a>
          </div>
        </div>
        <!-- /Titulo container -->

        <!-- Card´s -->
        <div class="row margin-row">
          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-even">
              <a href="#" class="btn hover-even">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro1.webp"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-even">
              <a href="#" class="btn hover-even">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro2.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-even">
              <a href="#" class="btn hover-even">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro3.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-even">
              <a href="#" class="btn hover-even">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro6.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>
        </div>
      </div>
      <!-- /Container even -->

      <!-- container impar -->
      <div class="container-fluid section-odd">
        <!-- Titulo cotainer -->
        <div class="row">
          <div class="col-12 padding-category">
            <h2 class="category">Para vos</h2>
            <a href="#" class="btn">
              <p class="ver-todos">Ver todos</p>
            </a>
          </div>
        </div>
        <!-- /Titulo Container -->

        <!-- Card´s -->
        <div class="row margin-row">
          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro1.webp"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoLabios1.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoOjos1.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>

          <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <article class="article-odd">
              <a href="/products" class="btn hover-odd">
                <img
                  class="img-product d-flex align-items-center justify-content-center"
                  src="/img/productos/productoRostro2.png"
                  alt=""
                />
                <h5 class="d-flex justify-content-center name-product">
                  Producto 1
                </h5>
                <p class="d-flex justify-content-center price-product">
                  $ 1.200
                </p>
              </a>
            </article>
          </div>
        </div>
      </div>
      <!-- /Container impar -->

      <!-- Informacion -->
      <div class="container-fluid">
        <div class="row d-flex justify-content-around p-info">
          <div class="col-12 col-sm-3 padding-info info-align">
            <i class="fa fa-money-check icon"></i>
            <h3 class="info-h3">Pagá con tarjeta o en efectivo</h3>
            <p class="info-p">
              Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo
              en puntos de pago. ¡Y siempre es seguro!
            </p>
          </div>
          <div class="col-12 col-sm-3 padding-info info-align">
            <i class="fa fa-shipping-fast icon"></i>
            <h3 class="info-h3">Envío gratis desde $ 2.500</h3>
            <p class="info-p">
              Al registrarte en Make.U tenés envíos gratis en muchos productos.
              Y tambien al superar los $ 2.500 el envio es totalmente gratis.
            </p>
          </div>
          <div class="col-12 col-sm-3 padding-info info-align">
            <i class="fa fa-shield-alt icon"></i>
            <h3 class="info-h3">Seguridad, de principio a fin</h3>
            <p class="info-p">
              Tus visita al sitio, y tus compras estan protegidas bajo el
              certificado SSL.
            </p>
          </div>
        </div>
      </div>
      <!-- /Informacion -->
    </main>

    <!-- Footer -->
    <%- include("partials/footer") %>
    <!-- /Footer -->
  </body>
</html>
