<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head")  %> 
    <link rel="stylesheet" href="/CSS/home.css">
    <title>Make.u</title>
</head>

<body>

    <%- include('partials/header') %> 

    <!-- Cuerpo principal de la home -->
    <main>
        <!-- Banner + Titulo -->
        <div id="banner">
            <div>
                <img class="img-banner" src="../IMG/fondoHome2.jpg"
                    alt="Imagen principal del site">
            </div>
            <div id="title-banner">
                <h1> <span class="title-main">Beauty</span> <span class="title-main">Style</span> <span class="title-main">& Tips</span></h1>
            </div>
        </div>

        <!-- 3 secciones -->
        <div class="flex-container">
            <!-- Seccion Rostro -->
            <section class="section-odd">
                <div class="product-container-odd">
                    <div>
                        <h2 class="title-section"> <span>Destacados</span> <strong>Rostro</strong></h2>
                    </div>
                    <div class="product-section">
                        <article class="article-odd">
                            <a href="#">
                                <img class="img-product" src="../IMG/productos/productoRostro1.webp"
                                    alt="Producto para el rostro">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                        <article class="article-odd">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoRostro2.png"
                                    alt="Producto para el rostro">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                        <article class="article-odd">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoRostro3.png"
                                    alt="Producto para el rostro">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                    </div>
                    <div class="ver-mas">
                        <a href="ojos.html">
                            <button>Ver mas</button>
                        </a>
                    </div>
                </div>
                <div class="container-right">
                    <img class="img-right" src="../img/faceArt.jpg" alt="">
                </div>
            </section>

            <!-- Seccion Labios -->
            <section class="section-pair">
                <div class="container-left">
                    <img class="img-left" src="../img/labiosArt.jpg" alt="">
                </div>
                <div class="product-container-pair">
                    <div>
                        <h2 class="title-section"><span>Destacados</span> <strong>Labios</strong></h2>
                    </div>
                    <div class="product-section">
                        <article class="article-pair">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoLabios1.png" alt="">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                        <article class="article-pair">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoLabios2.png" alt="">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                        <article class="article-pair">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoLabios3.png" alt="">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                    </div>
                    <div class="ver-mas">
                        <a href="#">
                            <button>Ver mas</button>
                        </a>
                    </div>
                </div>
            </section>

            <!-- Seccion Ojos -->
            <section class="section-odd">
                <div class="product-container-odd">
                    <div>
                        <h2 class="title-section"><span>Destacados</span> <strong>Ojos</strong></h2>
                    </div>
                    <div class="product-section">
                        <article class="article-odd">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoOjos1.png"
                                    alt="Producto para el rostro">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                        <article class="article-odd">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoOjos4.png"
                                    alt="Producto para el rostro">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                        <article class="article-odd">
                            <a href="producto.html">
                                <img class="img-product" src="../IMG/productos/productoOjos6.png"
                                    alt="Producto para el rostro">
                                <h3 class="product-name">Producto 1</h3>
                                <p class="price">$ 1.200</p>
                            </a>
                        </article>
                    </div>
                    <div class="ver-mas">
                        <a href="ojos.html">
                            <button>Ver mas</button>
                        </a>
                    </div>
                </div>
                <div class="container-right">
                    <img class="img-right" src="../img/ojosArt.jpg" alt="">
                </div>
            </section>
    </main>

    <%- include("partials/footer")  %> 
</body>

</html>