<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head")  %>
    <link rel="stylesheet" href="/CSS/loadProduct.css">
    <title>Make.u - Load Product</title>
</head>

<body>
    <%- include('partials/header') %> 

    <!-- Menu para la carga de producto -->
    <nav id="navbar">
        <h2 id="title-welcome">Menu del administrador</h2>
        <ul>
            <li>
                <a href="#">Cargar un producto <i class="fa fa-chevron-right"></i></a>
            </li>
        </ul>
    </nav>

    <!-- Cargar el producto -->




    <main id="main">
        <div class="flex-container">
            <div class="title-main">
                <h1>Nombre del producto</h1>
            </div>
            <div>
                <h2>SKU: ROS-0566734</h2>
            </div>
        </div>
        <div class="flex-container">
            <div class="div1">
                <form action="" method="POST">
                    <label for="familia">Familia</label>
                    <select name="familia" id="">
                        <option value="rostro">Rostro</option>
                        <option value="labios">Labios</option>
                        <option value="ojos">Ojos</option>
                    </select>
                </form>
            </div>
            <div class="div1">
                <form action="" method="POST">
                    <label for="familia">Sub-Familia</label>
                    <select name="familia" id="">
                        <option value="rostro">Rostro</option>
                        <option value="labios">Labios</option>
                        <option value="ojos">Ojos</option>
                    </select>
                </form>
            </div>
            <div class="div1">
                <form action="" method="POST">
                    <label for="familia">Marca</label>
                    <select name="familia" id="">
                        <option value="rostro">Rostro</option>
                        <option value="labios">Labios</option>
                        <option value="ojos">Ojos</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="flex-container">
            <img class="load-img" src="../IMG/productos/productoFace2.jpg" alt="">
            <img class="load-img" src="../IMG/productos/productoFace1.jpg" alt="">
            <img class="load-img" src="../IMG/productos/productoFace4.jpg" alt="">
            <form class="button-load-img" action="" method="POST">
                <label for="">Cargar nueva imagen</label>
                <button type="button">Cargar</button>
            </form>
        </div>

        <div class="flex-container">
            <div class="div1">
                <form action="" method="POST">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio">
                </form>
            </div>
            <div class="div1">
                <form action="" method="POST">
                    <label for="oferta">Oferta</label>
                    <input type="number" min="1" max="100" id="myPercent">
                </form>
            </div>
            <div class="div1">
                <form action="" method="POST">
                    <label for="etiqueta">Etiqueta</label>
                    <select name="etiqueta" id="">
                        <option value="prod-nuevo">Nuevo Lanzamiento</option>
                        <option value="Descuento">Con descuento</option>
                    </select>
                </form>
            </div>
        </div>

        <div>
            <form class="form-descripcion" action="" method="POST">
                <label for="descripcion">Descripcion del Producto</label><br>
                <textarea name="descripcion" id="" cols="100" rows="10"></textarea>
            </form>
            <form class="form-descripcion" action="" method="POST">
                <label for="descripcion">Informacion de Pago</label><br>
                <textarea name="descripcion" id="" cols="100" rows="10"></textarea>
            </form>
            <form class="form-descripcion" action="" method="POST">
                <label for="descripcion">Politicas de Devolucion</label><br>
                <textarea name="descripcion" id="" cols="100" rows="10"></textarea>
            </form>
            <form class="form-descripcion" action="" method="POST">
                <label for="descripcion">Informacion de Envio</label><br>
                <textarea name="descripcion" id="" cols="100" rows="10"></textarea>
            </form>
        </div>



    </main>
    <%- include("partials/footer")  %> 

</body>

</html>