<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/CSS/productAdd.css" />

    <title>Agregar Producto</title>
  </head>

  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->

    <!-- Navbar -->
    <div class="container">
      <div class="row">
        <div class="col-12 margin-menu">
          <nav class="nav">
            <a class="nav-link active" href="#">Agregar</a>
            <a class="nav-link" href="#">Mis Productos</a>
          </nav>
        </div>
      </div>
    </div>
    <!-- /Navbar -->

    <main>
      <!-- Cargar Producto -->
      <div class="container">
        <div class="row">
          <div class="col-12 margin-col">
            <h2 id="title">Agregar un producto</h2>
            <p class="title-p none-tablet">
              Agregue las caracteristicas esenciales del producto para subirlo
              rapidamente a la pagina, y luego en el desktop, siga editandolo
              con mayor presicion.
            </p>
          </div>
          <div class="col-12 col-sm-6 margin-col">
            <form action="" method="POST">
              <label for="productName">Nombre del Producto</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre del Producto"
                name="productName"
                id="productName"
              />
            </form>
          </div>
          <div class="col-12 col-sm-6 margin-col">
            <form action="" method="POST">
              <label for="productPrice">Precio</label>
              <input
                type="number"
                class="form-control"
                placeholder="Precio"
                name="productPrice"
                id="productPrice"
              />
            </form>
          </div>

          <div class="col-12 margin-col">
            <form action="" method="POST">
              <div class="form-group">
                <label for="subirImagen">Subir una Imagen</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="subirImagen"
                  accept="image/*,"
                />
              </div>
            </form>
          </div>

          <div class="col-12 col-sm-6 margin-col">
            <form action="" method="POST">
              <label for="familia">Familia de Producto</label>
              <select class="form-control" name="" id="">
                <option value="rostro"></option>
                <option value="rostro">Rostro</option>
                <option value="labios">Labios</option>
                <option value="ojos">Ojos</option>
              </select>
            </form>
          </div>

          <div class="col-12 col-sm-6 margin-col">
            <form action="" method="POST">
              <label for="oferta"
                >Oferta <span class="descuento">(de 1 a 100)</span></label
              >
              <input
                class="form-control"
                placeholder="Porcentaje"
                type="number"
                min="1"
                max="100"
                id="oferta"
              />
            </form>
          </div>

          <div class="col-12 margin-col">
            <label for="etiqueta">Etiqueta</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                Nuevo Lanzamiento
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                Con Descuento
              </label>
            </div>
          </div>

          <!-- Solo para tablet y desktop -->
          <div class="col-sm-6 none-cell margin-col">
            <form class="form-descripcion" action="" method="POST">
              <label for="descripcion">Descripcion del Producto</label><br />
              <textarea
                class="form-control"
                name="descripcion"
                id=""
                cols="35"
                rows="3"
              ></textarea>
            </form>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <form class="form-descripcion" action="" method="POST">
              <label for="descripcion">Informacion de Pago</label><br />
              <textarea
                class="form-control"
                name="descripcion"
                id=""
                cols="35"
                rows="3"
              ></textarea>
            </form>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <form class="form-descripcion" action="" method="POST">
              <label for="descripcion">Politicas de Devolucion</label><br />
              <textarea
                class="form-control"
                name="descripcion"
                id=""
                cols="35"
                rows="3"
              ></textarea>
            </form>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <form class="form-descripcion" action="" method="POST">
              <label for="descripcion">Informacion de Envio</label><br />
              <textarea
                class="form-control"
                name="descripcion"
                id=""
                cols="35"
                rows="3"
              ></textarea>
            </form>
          </div>

          <div class="col-12 none-cell margin-col">
            <form action="">
              <label for="muestrario">Variantes del Producto:</label>
              <input type="color" value="#e8b4b4" id="muestrario" />
            </form>
          </div>

          <div class="col-12 none-cell margin-col envios">
            <div class="col-12">
              <h5><span>Envios</span></h5>
            </div>
            <div class="col-sm-6">
              <form action="" method="POST">
                <label for="peso">Peso:</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="kilogramos"
                  name="peso"
                  id="peso"
                />
              </form>
            </div>
            <div class="col-sm-6 margin-dimension">
              <p class="p-dimension">Dimensiones:</p>
              <form action="" method="POST">
                <input
                  type="number"
                  class="form-control form-margin"
                  placeholder="Alto (mm)"
                  name="dimensiones"
                  id="alto"
                />
              </form>
              <form action="" method="POST">
                <input
                  type="number"
                  class="form-control form-margin"
                  placeholder="Ancho (mm)"
                  name="dimensiones"
                  id="ancho"
                />
              </form>
              <form action="" method="POST">
                <input
                  type="number"
                  class="form-control form-margin"
                  placeholder="Largo (mm)"
                  name="dimensiones"
                  id="largo"
                />
              </form>
            </div>
          </div>

          <div class="col-12 none-cell margin-col">
            <form action="" method="POST">
              <label for="linkVideo">Subir video de YouTube</label>
              <input
                type="text"
                class="form-control"
                placeholder="Pegar el Link"
                name="linkVideo"
                id="linkVideo"
              />
            </form>
          </div>

          <div class="col-12 d-flex justify-content-end mg-button">
            <button
              type="button"
              class="btn btn-secondary btn-sm button-margin"
            >
              Ver adelanto
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm button-margin"
            >
              Guardar Borrador
            </button>
            <button type="button" class="btn btn-primary btn-sm button-margin">
              Publicar
            </button>
          </div>
        </div>
      </div>
      <!-- /Cargar Producto -->
    </main>

    <!-- Footer -->
    <%- include("partials/footer") %>
    <!-- /Footer -->
  </body>
</html>
