<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head")  %>
    <link rel="stylesheet" href="/CSS/seccion.css">
    <title>Make.u | Ojos</title>
</head>

<body>

    <%- include('partials/header') %> 

    <img src="../IMG/ojosArt.jpg" alt="Imagen de modelo con maquillaje en los ojos" class="banner w-100 img-fluid">


    <nav>
        <ul class="nav justify-content-center filtros">
            <li class="nav-item"><a class="nav-link">Best Sellers</a></li>
            <li class="nav-item"><a class="nav-link">Lo nuevo</a></li>
            <li class="nav-item"><a class="nav-link">Precio</a></li>
            <li class="nav-item"><a class="nav-link">Corrector de Ojeras</a></li>
            <li class="nav-item"><a class="nav-link">Delineador</a></li>
            <li class="nav-item"><a class="nav-link">Sombra</a></li>
        </ul>
    </nav>

    <main class="container mt-1">

        <div class="row vh-75">

            <div class="col-12 col-sm-6 col-md-4 h-100">
                <article class="productCard card mt-2">
                    <a href="producto.html">
                        <h4 class="card-title">Nombre del Producto</h4>
                    </a>
                    <a href="producto.html"><img class="imgMain card-img-top img-fluid"
                            src="../img/productos/productoOjos1.png" alt=""></a>
                    <div class="card-body h-30">
                        <p class="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, id sequi illum
                            corporis labore explicabo!
                        </p>
                        <p class="price">$500</p>
                        <button class="btn btn-primary btn-block">Agregar a la wishlist</button>
                        <button class="btn btn-primary btn-block">Agregar al carrito</button>
                    </div>
                </article>
            </div>

            <div class="col-12 col-sm-6 col-md-4 h-100">
                <article class="productCard card mt-2">
                    <a href="producto.html">
                        <h4 class="card-title">Nombre del Producto</h4>
                    </a>
                    <a href="producto.html"><img class="imgMain card-img-top img-fluid"
                            src="../img/productos/productoOjos1.png" alt=""></a>
                    <div class="card-body h-30">
                        <p class="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, id sequi illum
                            corporis labore explicabo!
                        </p>
                        <p class="price">$500</p>
                        <button class="btn btn-primary btn-block">Agregar a la wishlist</button>
                        <button class="btn btn-primary btn-block">Agregar al carrito</button>
                    </div>
                </article>
            </div>

            <div class="col-12 col-sm-6 col-md-4 h-100">
                <article class="productCard card mt-2">
                    <a href="producto.html">
                        <h4 class="card-title">Nombre del Producto</h4>
                    </a>
                    <a href="producto.html"><img class="imgMain card-img-top img-fluid"
                            src="../img/productos/productoOjos1.png" alt=""></a>
                    <div class="card-body h-30">
                        <p class="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, id sequi illum
                            corporis labore explicabo!
                        </p>
                        <p class="price">$500</p>
                        <button class="btn btn-primary btn-block">Agregar a la wishlist</button>
                        <button class="btn btn-primary btn-block">Agregar al carrito</button>
                    </div>
                </article>
            </div>


        </div>

    </main>
    <%- include("partials/footer")  %> 
</body>

</html>