/* Banner principal */
.banner {
  position: relative;
  padding: 0;
}

.banner-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.title-banner {
  position: absolute;
  bottom: 30%;
  background-color: coral;
  width: 300px;
  opacity: 0.6;
}

.title {
  font-size: 35px;
  line-height: 45px;
  text-align: right;
  color: white;
}

.title-main {
  display: block;
  margin-right: 10px;
}
/* /Banner principal  */

/* Submenu secciones iconos */
.img-icon {
  width: 85%;
}
/* /Submenu secciones iconos */

.section-odd {
  background-color: rgb(241, 216, 220);
}

.padding-category {
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 0px;
  padding-bottom: 10px;
  align-content: center;
}

.category {
  color: white;
  text-align: left;
  display: inline;
}

.btn-todos {
  text-decoration: none;
}

.ver-todos {
  display: initial;
  color: white;
  padding-left: 20px;
  display: inline;
}

.margin-row {
  margin: 0;
  padding-bottom: 30px;
}

.article-odd {
  width: 230px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
}

.hover-odd:hover {
  background-color: #fff0f5;
}

.img-product {
  width: 75%;
  margin: auto;
  margin-top: 7px;
}

.name-product {
  color: #716669;
  margin-bottom: 0px;
  padding-top: 10px;
  text-decoration: none;
}

.price-product {
  color: #716669;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

/* Agregar icono */
/* .award-icon {
  color: #009975;
  font-size: 30px;
} 

.position-icon {
  position: relative;
  left: 70px;
  bottom: 220px;
} */

.section-even {
  background-color: whitesmoke;
}

.category-even {
  color: #4b4445;
  text-align: left;
  display: inline;
}

.ver-todos-even {
  color: #4b4445;
  padding-left: 20px;
  display: inline;
}

.article-even {
  width: 230px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(241, 216, 220);
  border-radius: 10px;
}

.hover-even:hover {
  background-color: white;
}

/* Seccion Informacion */

.p-info {
  padding: 40px;
}

.padding-info {
  padding-top: 15px;
}

.info-align {
  text-align: center;
}

.icon {
  font-size: 25px;
  color: #f7adad;
}

.info-h3 {
  font-size: 22px;
}

.info-p {
  font-size: 16px;
}

@media (min-width: 426px) {
  .img-icon {
    width: 50%;
  }
  .arrow {
    display: none;
  }
}

@media (min-width: 769px) {
  .img-icon {
    width: 30%;
  }
  .title-banner {
    bottom: 15%;
    width: 400px;
  }

  .title {
    font-size: 55px;
    line-height: 60px;
  }
}
