.related {
  background-color: #716669;
}

.product-card a {
  color: black;
  text-decoration: none;
}

.button-wrapper a {
  text-decoration: none;
}

.img-detail-product {
  width: 80%;
}

.padding-title-detail {
  padding: 15px;
}
