/*Globales */

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
}

.form-control:focus {
  border-color: rgb(248, 142, 248);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 139, 255, 0.25);
}

/* Header */

header {
  background-color: #f2d7de;
}

.inline-user {
  display: inline-block;
}

.button-style-user:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 139, 255, 0.25);
}

.dropdown-pink:hover {
  background-color: #f2d7de;
}

.dropdown-pink:focus,
.dropdown-pink:active {
  background-color: #dc92a5;
  background-image: none;
}

.hello-user-display {
  display: none;
}

.pd-user-nav {
  padding: 0px;
  display: inline;
}

.item-space {
  margin-left: 10px;
}

.cart-size {
  font-size: 1.5em;
  color: tomato;
}

.cart-size:hover {
  color: #f8a27c;
}

.header-nav {
  flex-grow: 1;
}

#nav-section {
  position: relative;
  display: flex;
}

#a-section {
  position: relative;
  margin: 0 15px;
  font-size: 1.2em;
  color: #dc92a5;
  text-decoration: none;
}

.brand-btn {
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  color: #dc92a5;
  padding-bottom: 2.5%;
}

.brand-btn:hover {
  color: #dc92a5;
}

nav #marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background: #dc92a5;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}

.item-ver-todos-brand {
  color: #dc92a5;
}

.user-login {
  font-size: 1.5em;
  color: tomato;
  padding-right: 10px;
}

.user-login:hover {
  color: #f8a27c;
}

.pd-left {
  padding-left: 0;
}

.section-display {
  display: none;
}

.pd-section-nav {
  padding-left: 0px;
  display: none;
  padding-right: 0px;
}

.sub-menu-header {
  background-color: white;
}

.img-icon {
  width: 85%;
}

/*buscador header*/

.input-group {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-left: 20px;
}

/*button*/

.btn-pink {
  background-color: #f2d7de;
  font-weight: bold;
}

.btn-pink:hover {
  background-color: #dc92a5;
  color: white;
}

.btn-pink:hover,
.btn-pink.active.focus,
.btn-pink.active:focus,
.btn-pink.focus,
.btn-pink.focus:active,
.btn-pink:active:focus,
.btn-pink:focus {
  box-shadow: none;
  background-color: #dc92a5;
  color: white;
}

/**Footer*/

.redes a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  display: block;
}

.redes a:hover {
  color: pink;
}

.redes a:last-of-type {
  margin: 0;
}

.site-footer {
  background-color: grey;
  margin: 0;
  padding-top: 40px;
}

.site-footer nav {
  display: none;
}

.button-style-user:hover {
  color: #dc92a5;
}

.footer-derechos {
  margin: 0;
  color: white;
}

.footer-derechos {
  margin: 0;
  color: white;
  padding-top: 8px;
}

li {
  list-style: none;
}

.p-footer {
  color: white;
  display: none;
}

.h5-footer {
  color: white;
}

.h5-redes {
  margin-bottom: 30px;
}

.ul-footer {
  color: white;
}

.a-footer:link {
  text-decoration: none;
}

.a-footer:hover {
  color: pink;
}

.a-footer {
  color: white;
}

.copyright-style {
  color: white;
  font-size: 15px;
}

.user-display {
  display: none;
}

.business-display {
  display: none;
}

.logo-display {
  display: none;
}

nav i {
  margin: 10px;
}

.ajuste-descripcion {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.titulo-efecto:hover {
  color: #dc92a5;
  text-decoration: none;
}

@media (min-width: 426px) {
  .img-icon {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .visible-nav {
    display: block;
  }
  .container-footer {
    display: flex;
    justify-content: space-between;
  }
  .site-footer nav {
    display: block;
  }
  .redes a {
    display: inline-block;
    margin-right: 1.5rem;
  }
  .redes a:last-of-type {
    margin: 0;
  }
  .p-footer {
    display: inline;
  }
  .user-display {
    display: inline;
  }
  .business-display {
    display: inline;
  }
  .logo-display {
    display: inline;
  }
  nav i {
    margin: 0;
  }
  .section-display {
    display: inline;
  }
  .hello-user-display {
    display: inline;
  }
  .sub-menu-header {
    display: none;
  }

  .pad10 {
    padding-right: 15px;
  }
}

/*buscador header*/

@media (max-width: 827px) {
  .pad10 {
    padding-bottom: 15px;
  }
}
