/* Navbar */
.margin-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mg-btn {
  margin: 10px;
}
/* /Navbar */

.ul-user {
  list-style: none;
}

.mg-li-user {
  margin: 10px;
}

.pd-button-edit {
  padding-left: 50px;
}
