/* #title-welcome {
    /* background-color: gray;
} */

.encabezado {
    display: inline-block;
    float: left;
    margin-top: 50px;
    background-color: #EDEDED;
    padding-right: 20px;
    padding-top: 15px;
    border-right: 2px solid grey;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}