* {
    box-sizing: border-box;
}


/*main*/

.contenedor {
    padding: 5%;
    margin: 0px;
    background-image: url(../IMG/fondo-formulario.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding-left: 38%;
    font-size: 1.6rem;
}

section {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(238, 238, 238, 0.4);
    border: pink solid 2px;
}

.connect1 {
    font-size: 22.5px;
    text-align: center;
    color: white;
    padding: 1rem;
    float: left;
    width: 50%;
    background-color: rgb(2, 2, 85);
    margin-bottom: 2rem;
}

.connect2 {
    font-size: 22.5px;
    text-align: center;
    color: white;
    padding: 1rem;
    float: left;
    width: 50%;
    background-color: cornflowerblue;
    margin-bottom: 2rem;
}

form nav a {
    padding-left: 10px;
    font-size: 25.5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/*
input {
    font-size: 22.5px;
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
}
*/

form .campo {
    font-size: 22.5px;
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #fdfbfb;
    margin-bottom: 2rem;
    border: none;
}

.contenedor-novedades {
    padding: 10px;
}

.contenedor-novedades label {
    font-size: 24px;
    padding-left: 14px;
    color: rgb(27, 27, 27);
}

form .campo-novedades {
    float: left;
    font-size: 22.5px;
    width: 10%;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    background-color: #fdfbfb;
}

.p-olvidastecontraseña {
    padding-top: 5px;
    font-size: 24px;
    color: rgb(27, 27, 27);
}

button {
    color: white;
    background-color: rgb(255, 139, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: block;
}

button:hover {
    cursor: pointer;
}


/*
.footer-derechos {
    display: flex;
    width: 100%;
}*/