/*Globales */


/*header*/

.site-header {
    background-color: #F2D7DE;
    height: 80px;
    margin: 0px;
}

.site-header nav a {
    padding: 0px 30px;
    font-size: 29.5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.navegacion1 {
    width: 33%;
    float: left;
    padding: 2px 0px;
    left: 3%;
    position: relative;
}

.navegacion2 {
    display: flex;
    float: left;
    width: 33%;
    text-align: center;
    padding: 12px 0px;
    list-style: none;
    left: 3%;
    position: relative;
}

.navegacion3 {
    display: flex;
    float: right;
    width: 33%;
    padding: 12px 0px;
    list-style: none;
    left: 7%;
    position: relative;
}


/*footer*/

footer {
    overflow: hidden;
    margin: 0px;
    background-color: rgb(174, 169, 172)
}

.footer-columna1 {
    width: 33%;
    float: left;
    text-align: center;
    padding: 10px;
}

.footer-columna2 {
    width: 33%;
    float: left;
    text-align: center;
    padding: 10px;
}

footer div.redes-sociales {
    width: 33%;
    float: right;
    text-align: center;
}

footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

footer h3 span {
    color: #F2D7DE;
}

footer nav.redes-sociales {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding-left: 25px;
}

footer p {
    font-size: 20px;
    color: black;
}

p.copyright {
    display: flex;
    width: 100%;
    padding: 20px 0;
    color: black;
    margin: 0;
    text-align: center;
}