/*Globales */


/*header*/

.site-header {
    background-color: #F2D7DE;
    height: 80px;
    margin: 0px;
}

.site-header nav a {
    padding: 0px 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.navegacion1 {
    width: 33%;
    float: left;
    padding: 2px 0px;
    left: 2%;
    position: relative;
}

.navegacion2 {
    display: flex;
    float: left;
    width: 33%;
    text-align: center;
    padding: 12px 0px;
    list-style: none;
    left: 3%;
    position: relative;
    font-family: "Josefina Sans";
}

.navegacion3 {
    display: flex;
    float: right;
    width: 33%;
    padding: 12px 0px;
    list-style: none;
    left: 7%;
    position: relative;
}


/**Footer*/

.redes a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    /**18px**/
    display: block;
}

@media (min-width: 768px) {
    .redes a {
        display: inline-block;
        margin-right: 1.5rem;
    }
    .redes a:last-of-type {
        margin: 0;
    }
}

.redes a:hover {
    color: pink;
}

.redes a:last-of-type {
    margin: 0;
}

.contenedorf {
    width: 95%;
    max-width: 120rem;
    /** = 1200px; **/
    margin: 0 auto;
}

.seccionf {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.site-footer {
    background-color: #7e7e7e;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0rem;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.site-footer nav {
    display: none;
}

@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.footer-derechos {
    margin: 0;
    color: white;
}